h1 {
	
}

.bubble {
	position: absolute;
}

body {
	height: 100%;
	background: linear-gradient(#4b4c4f, #102c59);
}

[level="1"] {
	background: #acacaf;
	border-radius: 50%;
	box-shadow: 5px 5px grey;
	z-index: 1;
}

[level="1"] h1 {
 color:white;
 text-align: center;
}

[level="2"] {
	background: #4b4c4f;
	border-radius: 50%;
	box-shadow: 5px 5px grey;
	z-index: 2;
}

[level="3"] {
	border-radius: 50%;
	box-shadow: 3px 3px grey;
	z-index: 3;
}

.entreprise[level="3"] {
	background: #e8e8ed;
}

.technology[level="3"] {
	background: #707e93;
}

.technology[level="3"] h2{
}

[level="4"] {
	border-radius: 50%;
	box-shadow: 3px 3px grey;
	z-index: 4;
}

.technology[level="4"] {
	background: #e8e8ed;
}

.entreprise[level="4"] {
	background: #4e5e75;
}

[level="5"] {
	background: #e8e8ed;
	border-radius: 50%;
	text-align: center;
	box-shadow: 3px 3px grey;
	z-index: 5;
}

.logoSquare {
	position: absolute;
	top: 19%;
	left: 5%;
	height: 62%;
	width: 90%;
}

.infoSquare {
	position: absolute;
	top: 19%;
	left: 5%;
	height: 62%;
	width: 90%;
	font-size: 30px;
}

.technology > .infoSquare {
	font-size: 30px;
	max-height: 30%;
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content:space-evenly;
	color: white;
}

.technology > .infoSquare > h2 {
	text-align: center;
	max-width: 80%;
	flex-grow: 1;
}

.technology > .infoSquare > .info {
	flex-grow: 1;
}

.technology > .infoSquare > .info > ul{
	
}

.technology > .infoSquare > .info > ul > li {
	text-align: left;
}

.entreprise >.infoSquare {
	font-size: 30px;
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content: space-evenly;
	color: white;
}

.entreprise > .infoSquare > h2 {
	text-align: center;
	max-width: 80%;
	flex-grow: 1;
}

.entreprise > .infoSquare > .info {
	max-width: 90%;
	flex-grow: 1;
	color: white;
}

.entreprise > .infoSquare > .info > ul > li {
	text-align: left; 
}

.entreprise > .infoSquare > .tech {
	max-width: 90%;
	text-align: left;
	flex: 0 1 auto;
}

.entreprise > .infoSquare > .tech a {
	color: white;
	cursor: pointer;
}

img {
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: contain;
}

h1 {
	font-size: 100px;
	transform: translateY(-200px);
}

a {
  text-decoration: none; /* no underline */
}